@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.gravityForm {
  position: relative;

  &__background-image {
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__intro {
    text-align: center;
  }

  &__form {
    margin-top: 60px;

    .gravityform#gravityform--id-2 .gform_body .gform_fields {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .gravityform__field__textarea {
      grid-column: 1 / span 3;
    }
  }
}
