@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.fullBlogGrid {


    h3 {
      margin-bottom: 0;

      @include breakpoint(lt-tablet) {
        text-align: center;
      }
    }

    &__flex {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: -30px;

      @include breakpoint(mobile) {
        margin: -25px 0;
      }
    }

    &__post {
      flex-basis: calc(33.33% - 60px);
      margin: 30px;
      position: relative;
      text-decoration: none;
      color: inherit;
      transition: .2s ease;

      @include breakpoint(lt-tablet) {
        flex-basis: calc(50% - 60px);
      }

      @include breakpoint(mobile) {
        flex-basis: 100%;
        margin: 25px 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: -20px;
        left: -20px;
        right: -20px;
        bottom: -20px;
        transition: .2s ease;
        border-radius: 10px;
        transform: scale(.9);
        background: rgba($color__branding-purple,.05);
        visibility: hidden;
        opacity: 0;
      }

      &:hover:before {
        transform: scale(1);
        visibility: visible;
        opacity: 1;
      }

      &:active {
        transform: scale(.95);

        &:before {
          background: rgba($color__branding-purple,.1);
        }
      }

      &_title {
        font-size: 20px;
        margin: 0;
      }

      &_image {

  			img {
  				border-radius: 10px;
          display: block;
          width: 100%;
  			}
      }

  		&_meta {
  			margin: 15px 0 10px 0;
  			font-size: 14px;
  			font-weight: 600;
        display: none;
  		}

  		&_separator {
  			margin: 0 8px;
  		}

  		&_authorLink {
  			color: $color__text-medium;
  		}

      &_cats {
        display: flex;
        flex-wrap: wrap;
        z-index: 1;
        margin: 20px 0 10px;
      }

  		&_cat {
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }

    &__loadMore {
      text-align: center;
      margin-top: 30px;
      // width: 100%;

      button {
        appearance: none;
        -webkit-appearance: none;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font-weight: 600;
        color: $color__branding-purple;
        position: relative;
        padding-bottom: 5px;
        cursor: pointer;

        &:after {
          position: absolute;
          content: '';
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          height: 2px;
          width: 100%;
          background-color: $color__branding-purple;
        }
      }
    }

    &__catRow {
        margin: 22px auto 56.2px auto;
        text-align: center;
        display: block;
        appearance: none;
        -webkit-appearance: none;
        border: 2px solid $color__border-light-purple;
        border-radius: 10px;
        height: 45px;
        width: 295px;
        padding: 0 20px;
        background-image: url('../../../ui/chevron-down-purple.png');
        background-size: 12px;
        background-position: 95% center;
        background-repeat: no-repeat;
        display: none;

        @include breakpoint(lt-tablet) {
          display: block;
        }

        &:focus,
        &:active {
          outline: none;
        }
    }

    &__catRadios {
      margin: 20px 0 80px -11px;
      display: flex;
      flex-wrap: wrap;

      @include breakpoint(lt-tablet) {
        display: none;
      }
    }

    &__filter {
      margin-right: 3px;
    }

    &__radio {

      &:hover + label,
      &:checked + label
      {
        color: $color__branding-blue;
        border-color: $color__branding-blue;
      }
    }
}
