@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.fullBlogGrid {

    h3 {
      margin-bottom: 0;

      @include breakpoint(lt-tablet) {
        text-align: center;
      }
    }

    &__flex {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: -30px;

      @include breakpoint(mobile) {
        margin: -25px 0;
      }
    }

    &__post {
      flex-basis: calc(33.33% - 60px);
      margin: 30px;
      position: relative;

      @include breakpoint(lt-tablet) {
        flex-basis: calc(50% - 60px);
      }

      @include breakpoint(mobile) {
        flex-basis: 100%;
        margin: 25px 0;
      }

      h2 {
        font-size: 20px;
        margin: 0;

        a {
          color: $color__text-dark;
          text-decoration: none;
        }
      }

      &_image {

  			img {
  				border-radius: 10px;
          display: block;
          width: 100%;
  			}
      }

  		&_meta {
  			margin: 15px 0 10px 0;
  			font-size: 14px;
  			font-weight: 600;
  		}

  		&_separator {
  			margin: 0 8px;
  		}

  		&_authorLink {
  			color: $color__text-medium;
  		}

      &_cats {
        position: absolute;
        left: 15px;
        top: 15px;
        z-index: 1;
      }

  		&_cat {
  			font-size: 13px;
  			font-weight: 700;
  			text-transform: uppercase;
  			text-decoration: none;
  			line-height: 0;
  			margin-right: 10px;
  			padding: 12.5px 15px 12.5px 15px;
        display: block;
  			border-radius: 12.5px;
  			color: $color__branding-blue;
  			background-color: $color__branding-blue-light;
        margin-bottom: 5px;

  			&_announcements {
  				color: $color__branding-green;
          background-color: $color__branding-green-light;
  			}

  			&_business {
  				color: $color__branding-blue-medium;
          background-color: $color__branding-blue-medium-light;
  			}

  			&_digitalMarketing {
  				color: $color__branding-purple-medium;
          background-color: $color__branding-purple-medium-light;
  			}

  			&_general {
  				color: $color__branding-teal;
          background-color: $color__branding-teal-light;
  			}

        &_launchUpdates {
  				color: $color__branding-orange;
          background-color: $color__branding-orange-light;
  			}

  			&_seo {
  				color: $color__branding-purple;
          background-color: $color__branding-purple-light;
  			}

  			&_socialMedia {
  				color: $color__branding-pink;
          background-color: $color__branding-pink-light;
  			}

  			&_webDevelopment {
  				color: $color__branding-yellow;
          background-color: $color__branding-yellow-light;
  			}

  			&_wordpress {
  				color: $color__branding-red;
          background-color: $color__branding-red-light;
  			}
      }
    }

    &__loadMore {
      text-align: center;
      margin-top: 60px;

      button {
        appearance: none;
        -webkit-appearance: none;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font-weight: 600;
        color: $color__branding-purple;
        position: relative;
        padding-bottom: 5px;
        cursor: pointer;

        &:after {
          position: absolute;
          content: '';
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          height: 2px;
          width: 100%;
          background-color: $color__branding-purple;
        }
      }
    }

    &__catRow {
        margin: 22px auto 56.2px auto;
        text-align: center;
        display: block;
        appearance: none;
        -webkit-appearance: none;
        border: 2px solid $color__border-light-purple;
        border-radius: 10px;
        height: 45px;
        width: 295px;
        padding: 0 20px;
        background-image: url('../../../ui/chevron-down-purple.png');
        background-size: 12px;
        background-position: 95% center;
        background-repeat: no-repeat;
        display: none;

        @include breakpoint(lt-tablet) {
          display: block;
        }

        &:focus,
        &:active {
          outline: none;
        }
    }

    &__catRadios {
      margin: 20px 0 80px -11px;
    }

    input {
      display: none;

      &:checked + label {
        color: $color__branding-blue;
        border-color: $color__branding-blue;

        &.fullBlogGrid__radio {

          &_announcements {
            color: $color__branding-green;
            border-color: $color__branding-green;
          }
          &_business {
            color: $color__branding-blue-medium;
            border-color: $color__branding-blue-medium;
          }
          &_digitalMarketing {
            color: $color__branding-purple;
            border-color: $color__branding-purple;
          }
          &_general {
            color: $color__branding-teal;
            border-color: $color__branding-teal;
          }
          &_launchUpdates {
            color: $color__branding-orange;
            border-color: $color__branding-orange;
          }
          &_seo {
            color: $color__branding-purple;
            border-color: $color__branding-purple;
          }
          &_socialMedia {
            color: $color__branding-pink;
            border-color: $color__branding-pink;
          }
          &_webDevelopment {
            color: $color__branding-yellow;
            border-color: $color__branding-yellow;
          }
          &_wordpress {
            color: $color__branding-red;
            border-color: $color__branding-red;
          }
        }
      }
    }

    &__radio {
      display: inline-block;
      color: $color__text-medium;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
      padding: 0 10px;
      margin: 1px;
      border-width: 2px;
      border-style: solid;
      border-color: transparent;
      border-radius: 5px;
      transition: color, border-color 0.3s ease;

      span {
        display: inline-block;
        word-wrap: break-word;
      }

      &:hover {
        color: $color__branding-blue;
        border-color: $color__branding-blue;
      }

      &:checked + label {
        color: $color__branding-blue;
        border-color: $color__branding-blue;
      }

      &_announcements {

        &:hover {
          color: $color__branding-green;
          border-color: $color__branding-green;
        }
      }

      &_business {

        &:hover {
          color: $color__branding-blue-medium;
          border-color: $color__branding-blue-medium;
        }
      }

      &_digitalMarketing {

        &:hover {
          color: $color__branding-purple-medium;
          border-color: $color__branding-purple-medium;
        }
      }

      &_general {

        &:hover {
          color: $color__branding-teal;
          border-color: $color__branding-teal;
        }
      }

      &_launchUpdates {

        &:hover {
          color: $color__branding-orange;
          border-color: $color__branding-orange;
        }
      }

      &_seo {

        &:hover {
          color: $color__branding-purple;
          border-color: $color__branding-purple;
        }
      }

      &_socialMedia {

        &:hover {
          color: $color__branding-pink;
          border-color: $color__branding-pink;
        }
      }

      &_webDevelopment {

        &:hover {
          color: $color__branding-yellow;
          border-color: $color__branding-yellow;
        }
      }

      &_wordpress {

        &:hover {
          color: $color__branding-red;
          border-color: $color__branding-red;
        }
      }
    }

    &__category {
        margin-right: 7.8px;
        margin-bottom: 7.8px;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: $color__text-medium;
        cursor: pointer;
        border-radius: 5px;
        padding: 4px 10px;
        display: inline-block;
        border-width: 2px;
        border-style: solid;
        border-color: transparent;
        transition: border-color, color 0.3s ease;

        &:hover {
            color: $color__branding-blue;
            border-color: $color__branding-blue;
        }

        &_announcements {

            &:hover {
                color: $color__branding-purple;
                border-color: $color__branding-purple;
            }
        }

        &_business {

            &:hover {
                color: $color__branding-blue-medium;
                border-color: $color__branding-blue-medium;
            }
        }

        &_design {

            &:hover {
                color: $color__branding-blue;
                border-color: $color__branding-blue;
            }
        }

        &_digitalMarketing {

            &:hover {
                color: $color__branding-yellow;
                border-color: $color__branding-yellow;
            }
        }

        &_general {

            &:hover {
                color: $color__branding-orange;
                border-color: $color__branding-orange;
            }
        }

        &_seo {

            &:hover {
                color: $color__branding-pink;
                border-color: $color__branding-pink;
            }
        }

        &_socialMedia {

            &:hover {
                color: $color__branding-teal;
                border-color: $color__branding-teal;
            }
        }

        &_webDevelopment {

            &:hover {
                color: $color__branding-green;
                border-color: $color__branding-green;
            }
        }

        &_wordpress {

            &:hover {
                color: $color__branding-navy;
                border-color: $color__branding-navy;
            }
        }
    }
}
