.button {
  position: relative;
	display: inline-flex;
	align-items: center;
	width: max-content;
	height: 50px;
	border-radius: 25px;
	background: $color__branding-purple;
	color: white;
	font-weight: 600;
	text-decoration: none;
	white-space: nowrap;
	box-shadow: 10px 10px 30px rgba($color__branding-royal-blue, .15);
	position: relative;
	z-index: 1;

  .formikForm & {
    box-shadow: 10px 10px 30px rgba($color__branding-royal-blue, .15) !important;
  }

  &:hover {


    .button__orb {
      width: 100%;
    }

    .button__text {
      color: $color__branding-purple;
    }
  }

	&__text {
		white-space: nowrap;
		flex-basis: auto;
		flex-shrink: 0;
		padding: 0 70px 0 30px;
    position: relative;
    z-index: 10;
    transition: .2s ease;
    transition-delay: .1s;
	}

	&__orb {
		display: flex;
		align-items: center;
		justify-content: flex-end;
    padding-right: 25px;
    position: absolute;
    right: 0;
    top: 0;
		width: 50px;
		flex-shrink: 0;
		height: 100%;
		border-radius: 25px;
		background: white;
		@include font-size(20);
		color: $color__branding-blue;
    transition: .2s ease;
    transition-delay: .1s;

    svg {
      transform: translateX(50%);
    }
	}

	&--inverted {
		background: white;
		color: $color__branding-purple;

    @include darkmode() {
      background: $color__branding-purple;
      color: white;
    }

    &:hover {


      .button__text {
        color: white;

        @include darkmode() {
          color: $color__branding-purple;
        }
      }
    }

		.button__orb {
			color: white;
			background: $color__branding-purple;

      @include darkmode() {
        color: $color__branding-blue;
        background: white;
      }
		}
	}
}
