.component {
  margin: 160px 0;
  position: relative;

  &--with-background {
    background: $color__background-light-blue;
    margin: 0;
    padding: 80px 0;

    @include darkmode() {
      background: $color__background-dark-blue;
    }
  }

  &--squiggleTop {
    padding-top: 0;
  }

  &--squiggleBottom {
    padding-bottom: 0;
  }

  &--last {


    &:after {
      content: '';
      height: 180px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 100%;
      background: $color__background-light-blue;
    }

    @include darkmode() {

      &:after {
        background: $color__background-dark-blue;
      }
    }
  }

  &__tag {
		margin-bottom: 16px;
	}

  &__heading {
		margin: 0 0 20px;
	}

	&__content {
		font-size: 1.125rem;
	}
}

.squiggle {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  pointer-events: none;

  &-fill {
    fill: $color__background-light-blue;

    @include darkmode() {
      fill: $color__background-dark-blue;
    }
  }

  &--top-1 {
    margin-top: -7.92vw;
  }

  &--top-2 {
    margin-top: -18.05vw;
  }

  &--bottom-1 {
    margin-bottom: -3.19vw;
  }
}
