.gravityform#gravityform--id-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 620px;
    margin: auto;
    position: relative;

    .gravityform__error_message {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -40px;
        font-style: italic;
    }

    .gform_body {
        flex-basis: 50px;
        flex-grow: 1;

        .gform_fields {
            list-style-type: none;
            margin: 0;
            padding: 0;

            .gfield {

                > label {
                    display: none;
                }

                .ginput_container {

                    input[type="email"] {
                        width: calc(100% + 50px);
                        padding: 25px 40px;
                        background: none;
                        border-radius: 45px;
                        border: none;
                        border: 2px solid $color__text-darkmode;
                        font-weight: 600;
                        font-size: 15px;

                        @include breakpoint(mobile) {
                          padding: 25px;
                        }

                        &:focus,
                        &:active {
                            outline: none;
                        }
                    }
                }
            }
        }
    }

    .gform_footer {
        flex-basis: 50px;
        flex-grow: 0;

        .gform_button {
            box-shadow: none;
            border: none;
            height: 50px;
            width: 50px;
            padding-left: 0;
            margin-left: -20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            background-color: $color__branding-purple;
            color: $color__branding-white;

            &:hover {
                background-color: $color__branding-blue
            }
        }
    }
}

.gravityform#gravityform--id-5,
.gravityform#gravityform--id-6 {

    .gform_fields {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .gfield {

        > label {
            font-size: 24px;
            color: $color__text-dark;
        }

        &:not(.gravityform__field__checkbox) {

            label {
                display: none;
            }
        }

        &.gravityform__field__checkbox {
            margin-bottom: 100px;

            .gfield_checkbox {
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: block;
                margin: 40px -10px -10px -10px;

                li {
                    display: inline-block;
                    height: 80px;

                    input[type="checkbox"] {
                        display: none;

                        &:checked + label {
                            border: 2px solid $color__branding-purple;
                            color: $color__branding-white;
                            background-color: $color__branding-purple;
                        }
                    }

                    label {
                        color: $color__branding-purple;
                        padding: 14.5px 20px;
                        margin: 10px;
                        border: 2px solid $color__text-darkmode;
                        border-radius: 10px;
                        font-size: 18px;
                        transition: border 0.3s ease;
                        cursor: pointer;

                        &:hover {
                            border: 2px solid $color__branding-purple;
                        }
                    }
                }
            }
        }

        ::placeholder {
            color: $color__text-darkmode;
            font-size: 24px;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select,
        textarea {
            appearance: none;
            -webkit-appearance: none;
            border: none;
            border-radius: 0;
            background: none;
            margin-bottom: 100px;
            border-bottom: 2px solid $color__text-darkmode;
            width: 100%;
            padding-bottom: calc(20px - 0.5rem);
            height: auto;
            line-height: 2;
            color: $color__branding-purple;
            font-size: 24px;

            &:focus,
            &:active {
                border: none;
                outline: none;
                border-bottom: 2px solid $color__branding-purple;
            }
        }

        select {
          background-image: url('../ui/chevron-down.png');
          background-size: 20px;
          background-position: right center;
          background-repeat: no-repeat;
        }

        textarea {
          height: 63px;
        }
    }

    .gform_footer {
      padding: 0;
      margin: 0;

      .gform_button {
        appearance: none;
        -webkit-appearance: none;
        background: none;
        background-color: $color__branding-purple;
        color: $color__branding-white;
        border: none;
        outline: none;
        padding: 15px 80px 15px 30px;
        cursor: pointer;
        position: relative;

        .orb {
          position: absolute;
          right: -0.5px;
          top: -0.5px;
          height: 50.5px;
          width: 50.5px;
  				background: $color__branding-white;
          transition: .2s ease;
          border-radius: 50%;

          i {
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translateX(-50%) translateY(-50%);
            width: 18px;
            height: 12px;

            &:before {
              position: absolute;
              content: '\f178';
              height: 12px;
              width: 18px;
              color: $color__branding-blue;
              font-family: 'Font Awesome 5 Pro';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              left: 50%;
              top: 50%;
              transform: translateX(-50%) translateY(-50%);
            }
          }
        }
      }
    }
}

.gravityform#gravityform--id-2 {
  position: relative;

  .gravityform__error_message {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -40px;
      font-style: italic;
  }

  .gform_body {

    .gform_fields {
      list-style-type: none;
      margin: -7px;
      padding: 0;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;

      @include breakpoint(lt-tablet) {
        margin: 0;
      }

      .gfield {
        flex-basis: calc(50% - 14px);
        margin: 7px;

        @include breakpoint(lt-tablet) {
          flex-basis: 100%;
          margin: 7px 0;
        }

        > label {
          display: none;
        }

        .ginput_container {

          ::placeholder {
            color: $color__text-medium;
          }

          input,
          select {
            width: 100%;
            padding: 12px 20px;
            height: 50px;
            background-color: $color__branding-white;
            border: none;
            outline: none;
            border-radius: 5px;
            color: $color__text-medium;

            &:focus,
            &:active {
              outline: none;
            }
          }
        }

        &.gravityform__field__textarea {
          flex-basis: 100%;
          // background-color: $color__branding-white;

          textarea {
            width: 100%;
            height: 150px;
            padding: 12px 20px;
            background-color: $color__branding-white;
            border: none;
            outline: none;
            border-radius: 5px;
            color: $color__text-medium;
          }
        }
      }
    }
  }

  .gform_footer {
    position: absolute;
    right: 0;
    bottom: 35px;
    padding: 0;
    margin: 0;

    .gform_button {
      background: none;
      border: none;
      box-shadow: none;
      background-color: $color__branding-blue;
      color: $color__branding-white;
      border-radius: 200px 0 0 200px;
      width: 50px;
      height: 60px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $color__branding-purple;
      }
    }
  }
}

.gravityform#gravityform--id-2,
.gravityform#gravityform--id-4 {

  .gform_footer {

    .gform_button {

      i {
        position: relative;
        width: 18px;
        height: 12px;

        &:before {
          position: absolute;
          content: '\f178';
          height: 12px;
          width: 18px;
          color: $color__branding-white;
          font-family: 'Font Awesome 5 Pro';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
  }
}

.gravityform#gravityform--id-2 {

  .gform_footer {

    .gform_button {
      padding: 0 15px 10px 25px;
    }
  }
}

.gravityform#gravityform--id-4 {

  .gform_footer {

    .gform_button {
      position: relative;
      margin-top: 8px;

      i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);

        &:before {
          top: 20%;
        }
      }
    }
  }
}
