.gravityform#gravityform--id-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 620px;
    margin: auto;
    position: relative;

    .gravityform__error_message {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -40px;
        font-style: italic;
    }

    .gform_body {
        flex-basis: 50px;
        flex-grow: 1;

        .gform_fields {
            list-style-type: none;
            margin: 0;
            padding: 0;

            .gfield {

                > label {
                    display: none;
                }

                .ginput_container {

                    input[type="email"] {
                        width: calc(100% + 50px);
                        padding: 26.5px 40px;
                        background-color: $color__branding-white;
                        box-shadow: 10px 10px 30px 0 rgba($color__branding-purple, 0.1);
                        border-radius: 45px;
                        border: none;
                        font-weight: 600;
                        font-size: 15px;

                        &:focus,
                        &:active {
                            outline: none;
                        }
                    }
                }
            }
        }
    }

    .gform_footer {
        flex-basis: 50px;
        flex-grow: 0;

        .gform_button {
            box-shadow: none;
            border: none;
            height: 50px;
            width: 50px;
            padding-left: 0;
            margin-left: -20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            background-color: $color__branding-purple;
            color: $color__branding-white;

            &:hover {
                background-color: $color__branding-blue
            }
        }
    }
}

.gravityform#gravityform--id-5 {

    .gform_fields {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .gfield {

        > label {
            font-size: 24px;
            color: $color__text-dark;
        }

        &:not(.gravityform__field__checkbox) {

            label {
                display: none;
            }
        }

        &.gravityform__field__checkbox {
            margin-bottom: 100px;

            .gfield_checkbox {
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: block;
                margin: 40px -10px -10px -10px;

                li {
                    display: inline-block;
                    height: 80px;

                    input[type="checkbox"] {
                        display: none;

                        &:checked + label {
                            border: 2px solid $color__branding-purple;
                            color: $color__branding-white;
                            background-color: $color__branding-purple;
                        }
                    }

                    label {
                        color: $color__branding-purple;
                        padding: 14.5px 20px;
                        margin: 10px;
                        border: 2px solid $color__text-darkmode;
                        border-radius: 10px;
                        font-size: 18px;
                        transition: border 0.3s ease;
                        cursor: pointer;

                        &:hover {
                            border: 2px solid $color__branding-purple;
                        }
                    }
                }
            }
        }

        ::placeholder {
            color: $color__text-darkmode;
            font-size: 24px;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"] {
            appearance: none;
            -webkit-appearance: none;
            border: none;
            border-radius: 0;
            background: none;
            margin-bottom: 100px;
            border-bottom: 2px solid $color__text-darkmode;
            width: 100%;
            padding-bottom: calc(20px - 0.5rem);
            height: auto;
            line-height: 2;
            color: $color__branding-purple;
            font-size: 24px;

            &:focus,
            &:active {
                border: none;
                outline: none;
                border-bottom: 2px solid $color__branding-purple;
            }
        }
    }
}
