.site-header {
	position: fixed;
	width: 100%;
	padding: 40px 0;
	z-index: 100;
	
	&__cols {
		align-items: center;
	}
	
	&__branding {
		flex-basis: 25%;
		flex-grow: 0;
		flex-shrink: 1;
		
		&-link {
			display: block;
			width: 100%;
			max-width: 187px;
			
			svg {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
	
	&__navigation {
		flex-basis: 50%;
		flex-grow: 1;
		
		.menu {
			display: flex;
			justify-content: center;
			list-style: none;
			margin: 0;
			padding: 0;
			
			&__item {
				margin: 0 12px;
			}
			
			&__item-link {
				display: block;
				text-decoration: none;
				padding: 6px 12px;
				font-weight: 600;
				color: $color__branding-purple;
			}
		}
	}
	
	&__cta {
		flex-basis: 25%;
		flex-grow: 1;
		flex-shrink: 0;
	}
}

.header-spacer {
	height: 145px;
}