.site-header {
	position: fixed;
	width: 100%;
	height: 145px;
	z-index: 100;
	display: flex;
	align-items: center;
	transition: .2s ease;
	
	&--scrolled {
		background: rgba(white,.95);
		backdrop-filter: blur(10px);
		box-shadow: 0 8px 24px rgba($color__branding-navy,.05);
		height: 90px;
	}
	
	&__cols {
		width: 100%;
		align-items: center;
	}
	
	&__branding {
		flex-basis: 25%;
		flex-grow: 0;
		flex-shrink: 1;
		
		&-link {
			display: block;
			width: 100%;
			max-width: 187px;
			
			svg {
				display: block;
				width: 100%;
				height: auto;
				
				.logocolor-dark {
					transition: .2s ease;
					
					.site-header--inverted:not(.site-header--scrolled) & {
						fill: white;
					}
				}
			}
		}
	}
	
	&__navigation {
		flex-basis: 50%;
		flex-grow: 1;
		
		.menu {
			display: flex;
			justify-content: center;
			list-style: none;
			margin: 0;
			padding: 0;
			
			&__item {
				margin: 0 4px;
			}
			
			&__item-link {
				display: block;
				text-decoration: none;
				font-weight: 600;
				color: $color__branding-purple;
				padding: 2px 20px;
				border-radius: 20px;
				transition: .2s ease;
				white-space: nowrap;
				
				&:hover {
					background: rgba($color__branding-purple, .1)
				}
				
				&--active {
					background: $color__branding-purple;
					color: white;
					
					&:hover {
						background: $color__branding-purple;
					}
				}
				
				.site-header--inverted:not(.site-header--scrolled) & {
					color: white;
					
					&:hover {
						background: rgba(white, .1)
					}
				}
			}
		}
	}
	
	&__cta {
		flex-basis: 25%;
		flex-grow: 1;
		flex-shrink: 0;
	}
}

.header-spacer {
	height: 145px;
}