* {
	box-sizing: border-box;
}
	
.container {
	max-width: 1072px;
	padding: 0 50px;
	margin: 0 auto;
	
	&--flex {
		display: flex;
	}
	
	&--full {
		max-width: none;
	}
}

.tag {
	display: inline-block;
	font-weight: 700;
	color: $color__branding-blue;
	background: rgba($color__branding-blue,.1);
	@include font-size(14);
	text-transform: uppercase;
	padding: 2px 20px;
	border-radius: 20px;
}