* {
	box-sizing: border-box;
}

.global-wrapper {
	max-width: 100%;
	// overflow-x: hidden;
  zoom: 1.25;

  @include breakpoint(1920px) {
    zoom: 1.1;
  }

  @include breakpoint(1600px) {
    zoom: 1;
  }

  @include darkmode() {
    background: $color__branding-navy;
    color: $color__text-darkmode;
  }
}

.container {
	max-width: 1072px;
	padding: 0 50px;
	margin: 0 auto;

  @include breakpoint(lt-tablet) {
    padding: 0 30px;
  }

  @include breakpoint(mobile) {
    padding: 0 20px;
  }

	&--flex {
		display: flex;
	}

	&--full {
		max-width: none;
	}

  &--xl {
    max-width: 1440px;
  }

	&--wide {
		max-width: 1270px;
	}

	&--medium-2 {
		max-width: 1072px;
	}

	&--medium {
		max-width: 970px;
	}

	&--slider {
		max-width: 872px;
	}

	&--small {
		max-width: 820px;
	}
}

.tag {
	display: inline-block;
	font-weight: 700;
	color: $color__branding-blue;
	background: rgba($color__branding-blue,.1);
	@include font-size(14);
	text-transform: uppercase;
	padding: 2px 20px;
	border-radius: 20px;

  @include darkmode() {
    background: $color__branding-purple;
    color: white;
  }

  &--small {
    @include font-size(13);
  }

	&--yellow {
		background: rgba($color__branding-yellow,.1);
		color: $color__branding-yellow;
	}

	&--red {
		background: rgba($color__branding-red,.1);
		color: $color__branding-red;
	}

	&--purple {
		background: rgba($color__branding-purple,.1);
		color: $color__branding-purple;
	}

  &--gray {
    background: #F6F6F8;
    color: $color__text-medium;
  }

	&--purple-filled {
		background: $color__branding-purple;
		color: white;
	}

  .svg-inline--fa {
    margin-left: -.25em;
    margin-right: .25em;
  }
}

.placeholder {
	margin: 60px 0;
	height: 50vh;
	position: relative;
	display: flex;
	align-items: center;

	&:before {
		content: '';
		position: absolute;
		top: 20px;
		right: 20px;
		bottom: 20px;
		left: 20px;
		border: 6px dashed #ccc;
		border-radius: 20px;
	}

	&:after {
		content: 'Content Area';
		@include font-size(64);
		color: #ccc;
		text-align: center;
		flex-basis: 100%;
	}
}

.text-yellow {
	color: $color__branding-yellow;

	&:after {
		background-color: $color__branding-yellow;
	}
}
.text-purple {
	color: $color__branding-purple;

	&:after {
		background-color: $color__branding-purple;
	}
}
.text-red {
	color: $color__branding-red;

	&:after {
		background-color: $color__branding-red;
	}
}
.text-blue {
	color: $color__branding-blue;

	&:after {
		background-color: $color__branding-blue;
	}
}

.sideways-heading-section {

	.container {
		position: relative;
	}

	.sideways-heading {
		position: absolute;
		top: 335px;
		left: -304px;
		transform: rotate(-90deg);
		font-size: 100px;
		color: $color__branding-blue;
		opacity: 0.2;
		margin: 0;
	}

	.sideways-heading-content {
		padding-left: 220px;
	}
}

section.light-blue-section {
	background-color: $color__background-light-blue;
}

section.background {
  background-color: $color__background-light-blue-2;
  margin: 0;
  padding: 120px 0;
}
