body {
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-family: $font__main;
	line-height: 1.75;
	color: $color__text-medium;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font__secondary;
	font-weight: 500;
	color: $color__text-dark;
	line-height: 1.2;
}

h1 {
	@include font-size(62);
	line-height: 1;

  @include breakpoint(lt-tablet) {
    @include font-size(54);
  }
}

h2 {
	@include font-size(48);
	line-height: 1.1;
}

h3 {
  @include font-size(24);
  line-height: 1.25;
}

.margin-fix {
	& > *:first-child {
		margin-top: 0 !important;
	}

	& > *:last-child {
		margin-bottom: 0 !important;
	}
}
