body {
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-family: 'Soleil', 'soleil', sans-serif;
	color: $color__text-medium;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Laca', 'laca', serif;
	font-weight: 500;
	color: $color__text-dark;
}

h1 {
	@include font-size(62);
}

h2 {
	@include font-size(48);
}