body {
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-family: 'Soleil', 'soleil', sans-serif;
	line-height: 1.75;
	color: $color__text-medium;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Laca', 'laca', serif;
	font-weight: 500;
	color: $color__text-dark;
	line-height: 1.2;
}

h1 {
	@include font-size(62);
	line-height: 1;
}

h2 {
	@include font-size(48);
	line-height: 1.1;
}

.margin-fix {
	& > *:first-child {
		margin-top: 0 !important;
	}
	
	& > *:last-child {
		margin-bottom: 0 !important;
	}
}