// Fonts
$font__main: 'soleil', sans-serif;
$font__secondary: 'laca', sans-serif;

// Colors
$color__branding-white: #FFFFFF;
$color__branding-black: #000000;

$color__branding-navy: #04063F;
$color__branding-blue: #33BBFD;
$color__branding-royal-blue: #1B1581;
$color__branding-purple: #332E8F;
$color__branding-light-purple: #9E99C3;
$color__branding-red: #FF434A;
$color__branding-yellow: #FFAC00;

$color__text-dark: #141742;
$color__text-medium: #8A8E93;
$color__text-light: $color__branding-light-purple;
