// Fonts
$font__main: 'soleil', sans-serif;
$font__secondary: 'laca', serif;

// Colors
$color__branding-navy: #141742;
$color__branding-blue: #33BBFD;
$color__branding-purple: #332E8F;

$color__text-dark: $color__branding-navy;
$color__text-medium: #8A8E93;