@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.RepeatingCtaBlocks {
  position: relative;

  @include breakpoint(lt-tablet) {
    padding-top: 55px;
  }

  &__blocks {
    position: relative;
    z-index: 1;
  }

  &__block {
    border: 2px solid $color__branding-pink-light;
    border-radius: 20px;
    padding: 60px 80px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 40px 0;
    text-decoration: none;
    color: inherit;
    transition: .2s ease;

    @include breakpoint(lt-tablet) {
      flex-wrap: wrap;
      padding: 40px;
    }

    @include darkmode() {
      border-color: rgba($color__border-light,.3);
    }

    &:hover {
      border-color: $color__border-light;
      transform: scale(1.05);

      @include breakpoint(lt-tablet) {
        transform: none;
      }
    }
  }

  &__graphic {
    flex-basis: 200px;
    flex-grow: 0;
    margin-right: 80px;

    @include breakpoint(lt-tablet) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__content {
    flex-basis: 200px;
    flex-grow: 1;

    @include breakpoint(lt-tablet) {
      flex-basis: 100%;
    }
  }

  &__heading {
    margin: 0;
  }

  &__text {
    font-size: 15px;
    margin: 20px 0 0;
  }

  &__link {
    font-weight: 600;
    display: block;
    color: $color__branding-blue;
    text-decoration: none;
    margin-top: 30px;

    svg {
      margin-left: 5px;
    }
  }
}
