@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.RepeatingCtaBlocks {
  position: relative;
  padding-top: 10px;
  padding-bottom: 340px;
  margin-bottom: -180px;
  background-color: $color__background-light-blue-2;
  margin-top: calc(17vw + 46px);

  &__squiggle {
    left: 0;
    top: -17vw;
    width: 100%;
  }

  &__blocks {
    position: relative;
    z-index: 1;
  }

  &__block {
    border: 2px solid $color__text-darkmode;
    border-radius: 20px;
    padding: 60px 80px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 40px 0;
  }

  &__graphic {
    flex-basis: 200px;
    flex-grow: 0;
  }

  &__content {
    flex-basis: 200px;
    flex-grow: 1;
    padding-left: 80px;
  }

  &__heading {
    margin: 0 0 18px 0;
  }

  &__text {
    font-size: 15px;
    margin-bottom: 40px;
  }

  &__link {
    font-weight: 600;
    color: $color__branding-blue;
    text-decoration: none;

    svg {
      margin-left: 5px;
    }
  }
}
