@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.blogPost {

  &__catRow {
    margin-bottom: 20px;
  }

  &__category {
    margin-right: 7.8px;
    margin-bottom: 7.8px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px 10px;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    transition: border-color, color 0.3s ease;
    color: $color__branding-blue;
    border-color: $color__branding-blue;

      &_announcements {
        color: $color__branding-green;
        border-color: $color__branding-green;
      }

      &_business {
        color: $color__branding-blue-medium;
        border-color: $color__branding-blue-medium;
      }

      &_digitalMarketing {
        color: $color__branding-purple-medium;
        border-color: $color__branding-purple-medium;
      }

      &_general {
        color: $color__branding-teal;
        border-color: $color__branding-teal;
      }

      &_launchUpdates {
        color: $color__branding-orange;
        border-color: $color__branding-orange;
      }

      &_seo {
        color: $color__branding-purple;
        border-color: $color__branding-purple;
      }

      &_socialMedia {
        color: $color__branding-pink;
        border-color: $color__branding-pink;
      }

      &_webDevelopment {
        color: $color__branding-yellow;
        border-color: $color__branding-yellow;
      }

      &_wordpress {
        color: $color__branding-red;
        border-color: $color__branding-red;
      }
  }


  &__hero {
    margin-top: 145px;
    padding-top: 80px;
    text-align: center;

    @include breakpoint(lt-tablet) {
      margin-top: 80px;
    }
  }

  &__title {
    margin: 0;
  }

  &__meta {
		margin: 15px 0 10px 0;
		font-size: 14px;
		font-weight: 600;

    &_separator {
      margin: 0 8px;
    }

    &_author {

      a {
        color: $color__text-medium;
      }
  	}
	}

  &__featuredImage {
      position: relative;
      z-index: 1;
  }

  &__banner {
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 10px;

    @include breakpoint(lt-tablet) {
      margin-top: 40px;
    }
  }

  &__mainContent {
      padding-top: 145px;
      margin-top: -145px;
      position: relative;
      padding-bottom: 120px;

      @include breakpoint(lt-tablet) {
        padding-bottom: 80px;
      }

      &_bg {
          left: 0;
          top: -34vw;
      }
  }

  &__content {

    .wp-block-image .aligncenter,
    .wp-block-image .alignleft,
    .wp-block-image .alignright {
      display: block;
    }

    .link-embed {

      &-link {
        border-radius: 10px;
        box-shadow: none;
        border: 2px solid $color__branding-pink-light;
        transition: .2s ease;

        &:hover {
          border-color: $color__border-light;
          transform: scale(1.05);
          text-decoration: none;
        }
      }

      &-thumbnail {
        margin: 20px;
        border-radius: 10px;
        flex-basis: 110px;
      }

      &-info-title {
        font-family: $font__secondary;
        color: $color__text-dark;
        @include font-size(20);
      }

      &-info-description {
        color: $color__text-medium;
        margin: 4px 0;
      }

      &-info-site {
        color: $color__text-light;
      }
    }

    a {
      color: $color__branding-purple;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      border-radius: 10px !important;
    }

    h2, h3, h4, h5, h6 {
      margin: 1.5em 0 .5em;

      & + p {
        margin-top: 1em;
      }

      strong {
        font-weight: inherit;
      }
    }

    p {
      margin: 2em 0;
    }
  }
}
.bio {

  &__inner {
    border: 2px solid $color__border-light-purple;
    border-radius: 20px;
    padding: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @include breakpoint(lt-tablet) {
      padding: 40px;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__headshot {
    flex-basis: 125px;
    flex-grow: 0;
    border-radius: 50%;
  }

  &__content {
    flex-basis: 125px;
    flex-grow: 1;
    padding-left: 40px;

    @include breakpoint(lt-tablet) {
      flex-basis: 100%;
      padding-left: 0;
      margin-top: 20px;
    }
  }

  &__name {
    margin: 0 0 13px 0;
    color: $color__branding-purple;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.related {
  margin: 160px 0 180px 0;
  position: relative;
  z-index: 2;

  @include breakpoint(lt-tablet) {
    margin: 80px 0;
  }

  &__top {
    text-align: center;
  }

  &__heading {
    margin: 10px 0 40px 0;
  }

  &__flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: -30px;

    @include breakpoint(lt-tablet) {
      flex-wrap: wrap;
    }

    @include breakpoint(mobile) {
      margin: -25px 0;
    }
  }

  &__post {
    flex-basis: calc(33.33% - 60px);
    margin: 30px;
    position: relative;

    @include breakpoint(lt-tablet) {
      flex-basis: calc(50% - 60px);
    }

    @include breakpoint(mobile) {
      flex-basis: 100%;
      margin: 25px 0;
    }

    h3 {
      font-size: 20px;
      margin: 0;

      a {
        color: $color__text-dark;
        text-decoration: none;
      }
    }
  }

  &__image {
    height: 225px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &__meta {
		margin: 15px 0 10px 0;
		font-size: 14px;
		font-weight: 600;
	}

  &__separator {
		margin: 0 8px;
	}

  &__author {
		color: $color__text-medium;
	}

  &__cats {
      position: absolute;
      left: 15px;
      top: 15px;
      z-index: 1;
  }

  &__cat {
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		line-height: 0;
		margin-right: 10px;
		padding: 12.5px 15px 12.5px 15px;
    display: block;
		border-radius: 12.5px;
		color: $color__branding-blue;
		background-color: $color__branding-blue-light;
    margin-bottom: 5px;

		&_announcements {
			color: $color__branding-green;
      background-color: $color__branding-green-light;
		}

		&_business {
			color: $color__branding-blue-medium;
      background-color: $color__branding-blue-medium-light;
		}

		&_digitalMarketing {
			color: $color__branding-purple-medium;
      background-color: $color__branding-purple-medium-light;
		}

		&_general {
			color: $color__branding-teal;
      background-color: $color__branding-teal-light;
		}

    &_launchUpdates {
			color: $color__branding-orange;
      background-color: $color__branding-orange-light;
		}

		&_seo {
			color: $color__branding-purple;
      background-color: $color__branding-purple-light;
		}

		&_socialMedia {
			color: $color__branding-pink;
      background-color: $color__branding-pink-light;
		}

		&_webDevelopment {
			color: $color__branding-yellow;
      background-color: $color__branding-yellow-light;
		}

		&_wordpress {
			color: $color__branding-red;
      background-color: $color__branding-red-light;
		}
	}
}

.subscribe {
  margin-bottom: -13vw;

  @include breakpoint(lt-tablet) {
    margin-bottom: -25vw;
  }

  &__inner {
    background-color: $color__background-light-blue;
    text-align: center;
    padding-bottom: calc(160px + 5vw);

    @include breakpoint(lt-tablet) {
      padding-bottom: 100px;
    }
  }

  &__tag {
    background-color: $color__branding-purple;
    color: $color__branding-white;
  }

  &__heading {
    margin: 10px 0 40px 0;
  }

  &__graphic {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    max-height: 405px;
    max-width: 620px;
  }

  &__animation {
    width: 100%;
    margin-top: -315px;
    display: inline-block;

    @include breakpoint(lt-tablet) {
      margin-top: -70px;
    }
  }
}
