@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.blogPost {


  &__hero {
    margin-top: 145px;
    padding-top: 80px;
    text-align: center;
  }

  &__title {
    margin: 0;
  }

  &__featuredImage {
      position: relative;
      z-index: 1;
  }

  &__mainContent {
      padding-top: 145px;
      margin-top: -145px;
      position: relative;
      background-color: #F6FCFF;
      padding-bottom: 120px;

      &_bg {
          left: 0;
          top: -34vw;
      }
  }

  &__content {




    a {
      color: $color__branding-purple;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      border-radius: 10px !important;
    }

    h2, h3, h4, h5, h6 {
      margin: 1.5em 0 .5em;

      & + p {
        margin-top: 1em;
      }

      strong {
        font-weight: inherit;
      }
    }

    p {
      margin: 2em 0;
    }
  }
}
