@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.LargeGraphicCenteredText {
	position: relative;

  &__tag {
    background-color: $color__branding-purple;
    color: $color__branding-white;
  }

	&__inner {
		position: relative;
		z-index: 1;
		text-align: center;
	}

	&__graphic {
		margin-bottom: 120px;
    margin-top: -30vw;

    @include breakpoint(lt-tablet) {
      margin-bottom: 80px;
    }
	}

	h2 {
		margin: 0 0 20px 0;
	}

	&__content {
		font-size: 18px;

		p {

			&:first-of-type {
				margin-top: 0;
			}
		}
	}
}
