@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.hero {
	position: relative;
	
	&__background {
		background: #0F0C44;
		min-height: 64.58%;
		
		&_front {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 360px;
			z-index: 10;
			background-image: url('/ui/hero-illustration-girl-whitebg.svg');
			background-size: cover;
			background-position: center top;
			background-repeat: no-repeat;
		}
	}
	
	&__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-bottom: 12%;
		display: flex;
		align-items: center;
		color: white;
	}
	
	&__title {
		color: inherit;
		@include font-size(90);
		text-align: center;
		max-width: 762px;
		margin: 0 auto;

		&_preheading, &_subheading {
			font-family: $font__main;
			@include font-size(16);
			font-weight: 600;
			display: block;
		}
		
		&_preheading {
			margin-bottom: 54px;
		}
		
		&_subheading {
			margin-top: 54px;
		}
	}
}