@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.Testimonials {
  text-align: center;
  padding-top: 200px;

  @include breakpoint(lt-tablet) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

	&__heading {
		margin: 0;
    font-size: 160px;
    font-weight: 900;
    line-height: 1;
    position: absolute;
    color: $color__text-light-blue-opaque;
    left: 50%;
    top: 20%;
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    width: 100%;
    max-width: 972px;
    z-index: 2;

    @include breakpoint(lt-tablet) {
      font-size: 70px;
      top: 25%;
    }
	}

  &__inner {
    position: relative;
  }

	&__slider {
    position: relative;
    z-index: 3;

		.slick-list {
			overflow: visible;
		}

		.slick-current {
			z-index: 10;
		}

		.slick-arrow {
			position: absolute;
			top: 30%;
			transform: translateY(-50%);
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			background-color: transparent;
      border: 2px solid $color__text-darkmode;
			padding: 0;
			cursor: pointer;
			color: $color__text-darkmode;
      transition: background-color, color 0.3s ease;

      @include breakpoint(lt-tablet) {
        top: calc(100% + 60px);
      }

      &:hover {
        background-color: $color__text-darkmode;
        color: $color__branding-white;
      }

			&:focus {
				outline: none;
			}
		}

		.slick-next {
			left: calc(100% + 90px);

      @include breakpoint(lt-tablet) {
        left: calc(50% + 5px);
      }
		}

		.slick-prev {
			right: calc(100% + 90px);

      @include breakpoint(lt-tablet) {
        right: calc(50% + 5px);
      }
		}

		.slick-arrow-icon {
			font-size: 20px;
		}

		.slick-slide {
			animation: fadeZoomOut .25s ease;
			animation-fill-mode: forwards;
		}

		.slick-current {
			animation: fadeZoomIn .4s ease;
			animation-fill-mode: forwards;
		}
	}

	&__slide {
		position: relative;

    &-text {
      font-size: 18px;
      color: $color__branding-purple;
      font-weight: 600;
    }

    &-name {
      margin: 126px 0 0 0;
      color: $color__branding-blue;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;

      @include breakpoint(lt-tablet) {
        margin: 60px 0 0 0;
      }
    }
	}
}
