@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.featuredBlogGrid {
	margin: 100px 0 160px 0;

  @include breakpoint(lt-tablet) {
    margin: 80px 0;
  }

	h2 {
		margin: 0;
	}

  h3 {
    margin-top: 0;
  }

	&__flex {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;

    @include breakpoint(lt-tablet) {
      flex-wrap: wrap;
    }
	}

	&__featured {
		flex-basis: 410px;
		flex-grow: 1;
		padding-right: 80px;

    @include breakpoint(lt-tablet) {
      flex-basis: 100%;
      padding-right: 0;
    }
	}

	&__mostPopular {
		flex-basis: 410px;
		flex-grow: 0;
		height: 100%;
		align-self: stretch;

    @include breakpoint(lt-tablet) {
      display: none;
    }

		&_col {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
		}

		&_single {
			flex-basis: auto;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			margin-bottom: 30px;
		}

		&_image {
			flex-basis: 140px;
			flex-grow: 0;

			&_img {
				border-radius: 10px;
			}
		}

		&_content {
			flex-basis: 140px;
			flex-grow: 1;
			padding-left: 20px;

			h3 {
				font-size: 18px;

				a {
					color: $color__text-dark;
					text-decoration: none;
				}
			}
		}
	}

	&__post {

		h2 {

			a {
				color: $color__text-dark;
				text-decoration: none;
			}
		}

		&_image {

			img {
				border-radius: 10px;
			}
		}

		&_meta {
			margin: 35px 0 13px 0;
			font-size: 14px;
			font-weight: 600;
		}

		&_separator {
			margin: 0 8px;
		}

		&_excerpt {
			font-size: 18px;
		}

		&_authorLink {
			color: $color__text-medium;
		}

		&_cat {
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: none;
			line-height:0;
			margin-right: 10px;
			padding: 2px 15px 4px 15px;
			border-radius: 12.5px;
			color: $color__branding-blue;
			background-color: $color__branding-blue-light;

			&_announcements {
        color: $color__branding-green;
				background-color: $color__branding-green-light;
			}

			&_business {
				color: $color__branding-blue-medium;
				background-color: $color__branding-blue-medium-light;
			}

			&_digitalMarketing {
        color: $color__branding-purple-medium;
				background-color: $color__branding-purple-medium-light;
			}

			&_general {
        color: $color__branding-teal;
				background-color: $color__branding-teal-light;
			}

      &_launchUpdates {
        color: $color__branding-orange;
				background-color: $color__branding-orange-light;
			}

			&_seo {
        color: $color__branding-purple;
				background-color: $color__branding-purple-light;
			}

			&_socialMedia {
        color: $color__branding-pink;
				background-color: $color__branding-pink-light;
			}

			&_webDevelopment {
        color: $color__branding-yellow;
				background-color: $color__branding-yellow-light;
			}

			&_wordpress {
        color: $color__branding-red;
				background-color: $color__branding-red-light;
			}
		}

	}
}
