@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.featuredBlogGrid {
	margin: 100px 0 160px 0;

  @include breakpoint(lt-tablet) {
    margin: 80px 0;
  }

  &__heading {
    margin: 0 0 20px;
  }

	h2 {
		margin: 0;
	}

	&__flex {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;

    @include breakpoint(lt-tablet) {
      flex-wrap: wrap;
    }
	}

	&__featured {
		flex-basis: 410px;
		flex-grow: 1;
		padding-right: 80px;

    @include breakpoint(lt-tablet) {
      flex-basis: 100%;
      padding-right: 0;
    }
	}

	&__mostPopular {
		flex-basis: 410px;
		flex-grow: 0;
		height: 100%;
		align-self: stretch;

    @include breakpoint(lt-tablet) {
      display: none;
    }

		&_col {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
		}

		&_single {
			flex-basis: auto;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			margin-bottom: 30px;
		}

		&_image {
			flex-basis: 140px;
			flex-grow: 0;

			&_img {
				border-radius: 10px;
			}
		}

    &_title {
      margin: 10px 0 0;
      color: $color__text-dark;
      @include font-size(18);

      a {
        color: inherit;
        text-decoration: none;
      }
    }

		&_content {
			flex-basis: 140px;
			flex-grow: 1;
			padding-left: 20px;
		}
	}

	&__post {

		h2 {

			a {
				color: $color__text-dark;
				text-decoration: none;
			}
		}

		&_image {

			img {
				border-radius: 10px;
			}
		}

		&_meta {
			margin: 32px 0 10px;
			font-size: 14px;
			font-weight: 600;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
		}

    &_cats {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-right: 5px;

      .tag {
        margin-right: 5px;
        white-space: nowrap;
      }
    }

		&_separator {
			margin: 0 8px;
		}

		&_excerpt {
			font-size: 18px;
		}

		&_authorLink {
			color: $color__text-medium;
		}
	}
}
