@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

@keyframes fadeZoomIn {
	0% {
		transform: scale(1.05);
		opacity: 0;
	}

	25% {
		transform: scale(1.05);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes fadeZoomOut {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	100% {
		transform: scale(.95);
		opacity: 0;
	}
}

.projectSlider {
	margin: 120px 0;
	text-align: center;

  @include breakpoint(lt-tablet) {
    margin: 80px 0;
  }

	&__tag {
		margin-bottom: 16px;
	}

	&__heading {
		margin: 0 0 20px;
	}

	&__content {
		font-size: 1.125rem;
	}

	&__slider {
		margin-top: 40px;

		.slick-next {
			left: calc(100% + 90px);

      @include breakpoint(lt-tablet) {
        left: 50px;
      }
		}

		.slick-prev {
			right: calc(100% + 90px);

      @include breakpoint(lt-tablet) {
        right: calc(100% - 40px);
      }
		}
	}

	&__slide {
		position: relative;

		&-image {
			display: block;
			border-radius: 20px;
      border: 2px solid $color__branding-pink-light;
			//box-shadow: 10px 10px 30px 0 rgba($color__branding-purple, 0.1);
		}

		&-info {
			display: flex;
			align-items: center;
			text-align: left;
			margin-top: 30px;
			position: relative;

			&-block {
				flex-basis: auto;
				flex-grow: 0;
				margin-right: 50px;

        @include breakpoint(lt-tablet) {
          display: none;
        }

				h3 {
					font-family: $font__main;
					font-size: 1.125rem;
					font-weight: 700;
					margin: 12px 0 0;
				}
			}

			&-cta {
				flex-basis: auto;
				flex-grow: 0;
				margin-left: auto;
			}
		}

		&-platforms {
			display: flex;
			margin-top: 6px;

			&-item {
				flex-grow: 0;
				display: flex;
				align-items: center;

				&:after {
					content: "+";
					color: $color__text-dark;
					font-weight: 700;
					margin: 0 5px;
				}

				&:last-of-type:after {
					display: none;
				}

				img {
					display: block;
					width: 30px;
				}
			}
		}
	}

  &__mobile {

    &-blocks {
      display: none;

      @include breakpoint(lt-tablet) {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }

      h3 {

        @include breakpoint(lt-tablet) {
          font-size: 16px;
        }
      }
    }

    &-block {

      @include breakpoint(lt-tablet) {
        text-align: left;
        margin-right: 20px;
      }
    }
  }
}
