@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.scrollList {
	margin: 120px 0;
	position: relative;

  @include breakpoint(lt-tablet) {
    margin: 35px 0 80px 0;
  }

	&__container {

	}

	&__spaceGraphic {
    left: 0;
    top: 0;

    @include breakpoint(lt-tablet) {
      max-width: 335px;
    }
	}

	&__content {
    padding-left: 605px;
    padding-top: 92px;

    @include breakpoint(lt-tablet) {
      padding-top: 620px;
      padding-left: 0;
    }
	}

  &__intro {
    @include breakpoint(lt-tablet) {
      text-align: center;
    }
  }

	&__tag {
		margin-bottom: 16px;
		background-color: $color__branding-blue-light;
		color: $color__branding-blue;
	}

	&__heading {
		margin: 0 0 20px;
	}

  &__text {
    font-size: 18px;
    margin-bottom: 60px;

    @include breakpoint(lt-tablet) {
      margin-bottom: 40px;
    }
  }

	&__scrollListItem {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: calc(40px - 0.9375em);

		&_icon {
			flex-basis: 60px;

      @include breakpoint(lt-tablet) {
        flex-basis: 40px;
      }
		}

		&_text {
			flex-basis: 60px;
			flex-grow: 1;
			padding-left: 30px;

      @include breakpoint(lt-tablet) {
        padding-left: 20px;
      }
		}

		&_title {
			font-size: 24px;
			font-weight: 600;
      color: $color__text-dark;
      line-height: 1.25;
		}

		&_content {
			font-size: 15px;

			p {
				margin-top: 7px;
			}
		}
	}
}
