@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.scrollList {
	margin: 120px 0;
	position: relative;
	margin-bottom: calc(-11.3vw - 120px);

	&Space {
		margin-top: calc(-4.17vw - 120px);
		padding: 29.1vw 0 22.5vw;
		color: $color__text-light;

		h2 {
			color: white;
		}
	}

	&__background {
		z-index: -1;
		left: 0;
		top: 0;
	}

	&__container {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		position: relative;
		z-index: 1;
	}

	&__tag {
		margin-bottom: 16px;
		background-color: $color__branding-purple;
		color: $color__branding-white;
	}

	&__heading {
		margin: 0 0 20px;
	}

	&__intro {
		flex-basis: 422px;
		flex-grow: 1;
		padding-right: 80px;
	}

	&__scrollListItems {
		flex-basis: 422px;
		flex-grow: 0;
	}

	&__scrollListItem {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: calc(40px - 0.9375em);

		&_icon {
			flex-basis: 60px;
			flex-grow: 0;
			height: 60px;
			width: 60px;

			img {
				display: block;
			}
		}

		&_text {
			flex-basis: 60px;
			flex-grow: 1;
			padding-left: 30px;
		}

		&_title {
			font-size: 24px;
			font-weight: 600;
			color: $color__branding-white;
		}

		&_content {
			font-size: 15px;

			p {
				margin-top: 7px;
			}
		}
	}
}
