@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.jobList {
	margin: 120px 0;
	text-align: center;

	&__tag {

	}

	&__heading {

	}

	&__content {

	}

	&__list {
    margin: 60px 0 0;
    text-align: left;

    &_item {
      background: white;
      border-radius: 35px;
      padding: 10px 10px 10px 30px;
      display: flex;
      align-items: center;
      box-shadow: 10px 10px 30px 0 rgba($color__branding-purple, 0.1);
      margin: 30px 0;
      text-decoration: none;

      &:hover {

        [class~=button__orb] {
          background: $color__branding-purple;
          color: white;
        }
      }

      &_title {
        flex-basis: 40%;
        color: $color__text-dark;
        @include font-size(18);
        font-weight: 700;
        text-decoration: none;
        margin: 0;
        font-family: $font__main;
      }

      &_tags {
        display: flex;

        &_tag {
          margin: 0 5px;
        }
      }

			&_orb {
        height: 50px;
				flex-grow: 0;
				margin-left: auto;
				background: rgba($color__branding-purple, .1);
				color: $color__branding-purple;
        transition: .2s ease;
			}
    }
  }
}
