@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.contactForm {
	padding-top: 0;

  @include darkmode(){
    margin-top: 80px !important;
  }

	&__heading {
		margin-top: 0;
		margin-bottom: 40px;

    @include breakpoint(lt-tablet) {
      margin-right: 20px;
    }
	}

  .gform_wrapper, .formikForm {
    position: relative;
    z-index: 2;
  }

  &__success {
    margin: 60px 0 0;
    border: 2px solid $color__border-light;
    border-radius: 20px;
    padding: 40px;

    @include darkmode() {
      border-color: $color__branding-purple;
    }

    &-heading {
      margin: 0;
    }

    &-content {
      margin: 20px 0 0;
      @include font-size(18);
    }
  }
}
