@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.ContactForm {
	padding-top: 0;
  position: relative;
  z-index: 1;

	&__heading {
		margin-top: 0;
		margin-bottom: 40px;

    @include breakpoint(lt-tablet) {
      margin-right: 20px;
    }
	}

  .gform_wrapper {
    position: relative;
    z-index: 2;
  }
}
