@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.NumberedList {
	margin: 120px 0 240px 0;

  @include darkmode() {
    background-color: $color__background-dark-blue;
    margin: 0;
    margin-bottom: -100px;
    padding: 120px 0;
    position: relative;
  }

  &__squiggleRight {
    display: none !important;

    @include darkmode() {
      display: block !important;
      z-index: 1;
      right: 0;
      top: -21%;
      height: 1988px;
      width: auto;
      max-width: 895px;

      @include breakpoint(mobile) {
        height: 744px;
        max-width: 335px;
        top: -31%;
      }
    }
  }

  &__squiggleLeft {
    display: none !important;

    @include darkmode() {
      display: block !important;
      z-index: 1;
      left: 0;
      bottom: -49%;
      height: 1170px;
      width: auto;
      max-width: 741px;

      @include breakpoint(mobile) {
        bottom: -34%;
        height: 529px;
        max-width: 335px;
      }
    }
  }

  @include breakpoint(lt-tablet) {
    margin: 80px 0 120px 0;
  }

	h2 {
    margin: 10px 0 20px 0;
    max-width: 460px;
	}

  .container {

    @include darkmode() {
      position: relative;
      z-index: 2;
    }
  }

  &__intro {
    margin-bottom: 100px;
    font-size: 18px;

    @include breakpoint(lt-tablet) {
      margin-bottom: 40px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 60px;

    @include breakpoint(lt-tablet) {
      display: none;
    }
  }

	&__list {
    flex-basis: 280px;
    flex-grow: 1;
    position: sticky;
    top: 50%;
    height: 0;
	}

	&__title {
    position: absolute;
    left: 0;
    top: 0;
		display: flex;
    width: 100%;
		align-items: flex-start;
		justify-content: flex-start;
    opacity: 0;
    transform: translateY(80px);

    &.active {

      .NumberedList__number {
				padding-left: 0;

				&-line {
					width: 70px;
				}
			}
    }

    &:nth-of-type(6n + 2) {

			.NumberedList__number {
				color: $color__branding-purple;

				&-line {
					background-color: $color__branding-purple;
				}
			}
		}

		&:nth-of-type(6n + 3) {

			.NumberedList__number {
				color: $color__branding-red;

				&-line {
					background-color: $color__branding-red;
				}
			}
		}

    &:nth-of-type(6n + 4) {

			.NumberedList__number {
				color: $color__branding-blue;

				&-line {
					background-color: $color__branding-blue;
				}
			}
		}

    &:nth-of-type(6n + 5) {

			.NumberedList__number {
				color: $color__branding-purple-medium;

				&-line {
					background-color: $color__branding-purple-medium;
				}
			}
		}

    &:nth-of-type(6n + 6) {

			.NumberedList__number {
				color: $color__branding-orange;

				&-line {
					background-color: $color__branding-orange;
				}
			}
		}
	}

	&__number {
		flex-basis: 127px;
		flex-grow: 0;
		padding-left: 50px;
		font-size: 18px;
		font-weight: 900;
		color: $color__branding-yellow;
		position: relative;
		transition: padding-left 0.3s ease;

		&-line {
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			height: 1px;
			width: 0px;
			background-color: $color__branding-yellow;
			transition: width 0.3s ease;
		}
	}

	&__heading {
		@include font-size(32);
		line-height: 1;
		margin: 0;
		flex-basis: 127px;
		flex-grow: 1;
	}

	&__content {
		flex-basis: 390px;
		flex-grow: 1;
    position: relative;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    @include font-size(18);
    gap: 40px;

    p + strong {
      margin-bottom: 0;
    }

    strong, b {
      color: $color__branding-white;
      font-size: 18px;
    }

    &-inner {
      padding: 40px 0 0;
    }
	}
}
