@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.NumberedList {
	margin: 120px 0 240px 0;

  @include breakpoint(lt-tablet) {
    margin: 80px 0 120px 0;
  }

	h2 {
    margin: 10px 0 20px 0;
    max-width: 460px;
	}

  &__intro {
    margin-bottom: 100px;

    @include breakpoint(lt-tablet) {
      margin-bottom: 40px;
    }
  }

	&__list {
		position: relative;

    @include breakpoint(lt-tablet) {
      display: none;
    }
	}

	&__item {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
    margin-left: -50px;

		&:nth-of-type(6n + 2) {

			.NumberedList__number {
				color: $color__branding-purple;

				&-line {
					background-color: $color__branding-purple;
				}
			}
		}

		&:nth-of-type(6n + 3) {

			.NumberedList__number {
				color: $color__branding-red;

				&-line {
					background-color: $color__branding-red;
				}
			}
		}

    &:nth-of-type(6n + 4) {

			.NumberedList__number {
				color: $color__branding-blue;

				&-line {
					background-color: $color__branding-blue;
				}
			}
		}

    &:nth-of-type(6n + 5) {

			.NumberedList__number {
				color: $color__branding-purple-medium;

				&-line {
					background-color: $color__branding-purple-medium;
				}
			}
		}

    &:nth-of-type(6n + 6) {

			.NumberedList__number {
				color: $color__branding-orange;

				&-line {
					background-color: $color__branding-orange;
				}
			}
		}

    &.active {

      .NumberedList__content {
        opacity: 1;
      }
    }
	}

	&__title {
		flex-basis: 445px;
		flex-grow: 0;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 100px;
		cursor: pointer;

		&:hover {

			.NumberedList__number {
				padding-left: 0;

				&-line {
					width: 70px;
				}
			}
		}
	}

	&__number {
		flex-basis: 127px;
		flex-grow: 0;
		padding-left: 50px;
		font-size: 18px;
		font-weight: 900;
		color: $color__branding-yellow;
		position: relative;
		transition: padding-left 0.3s ease;

		&-line {
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			height: 1px;
			width: 0px;
			background-color: $color__branding-yellow;
			transition: width 0.3s ease;
		}
	}

	&__heading {
		font-size: 32px;
		line-height: 1;
		margin: 0;
		flex-basis: 127px;
		flex-grow: 1;
	}

	&__content {
		flex-basis: 390px;
		flex-grow: 0;
		margin-left: 30px;
		position: absolute;
    right: 0;
    top: 0;
    width: 390px;
		opacity: 0;

		p {

			&:first-of-type {
				margin-top: 0;
			}
		}
	}

  &__accordion {
    display: none;

    @include breakpoint(lt-tablet) {
      display: block;
    }

    &-item {
      margin: 20px 0;
      cursor: pointer;

      &:nth-of-type(3n + 2) {

        .NumberedList__accordion-title {

          &:after {
            color: $color__branding-purple;
          }
        }

        .NumberedList__accordion-number {
          color: $color__branding-purple;
        }
      }

      &:nth-of-type(3n + 3) {

        .NumberedList__accordion-title {

          &:after {
            color: $color__branding-red;
          }
        }

        .NumberedList__accordion-number {
          color: $color__branding-red;
        }
      }

      &.active {
        .NumberedList__accordion-title {

          &:after {
            content: '\f068'
          }
        }
      }
    }

    &-title {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &:after {
        position: absolute;
        content: '\f067';
        font-family: 'Font Awesome 5 Pro';
        right: 0;
        top: 0;
        color: $color__branding-yellow;
      }
    }

    &-heading {
      margin: 0;
      flex-basis: auto;
      flex-grow: 1;
    }

    &-number {
      font-size: 18px;
  		font-weight: 900;
  		color: $color__branding-yellow;
      padding-right: 10px;
      flex-basis: 32px;
      flex-grow: 0;
    }

    &-content {
      padding-left: 32px;
      padding-right: 20px;
    }
  }
}
