@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.marqueeList {
	margin: 120px 0;
	text-align: center;
	position: relative;
  background-color: $color__background-light-blue-2;
  padding: 288px 0;
  margin-bottom: 18.5vw;

  .tag {
    background-color: $color__branding-purple;
    color: $color__branding-white;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &__content {
    margin: 70px 0;
  }

  &__squiggle {
    left: 0;
    bottom: -18.5vw;
    width: 100%;
  }

  &__slideshow {
    position: absolute;
    left: 0;
    z-index: 1;
    overflow: hidden;
    // width: 600%;
    // animation: slideshow 40s linear infinite;
    animation: marquee 40s linear infinite;

    &1 {
      top: 0;
      // animation: slideshow 40s linear infinite;
      animation-duration: 50s;
    }

    &2 {
      top: 20%;
      // animation: slideshow 50s linear infinite;
      // animation-delay: 15s;
      animation-duration: 40s;
      animation-direction: reverse;
    }

    &3 {
      bottom: 20%;
      animation-duration: 40s;
    }

    &4 {
      bottom: 0%;
      // animation: slideshow 50s linear infinite;
      // animation-delay: 15s;
      animation-duration: 60s;
      animation-direction: reverse;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-wrap: wrap;
    left: 0;
    display: inline-flex;
    white-space: nowrap;
    // animation: marquee linear infinite;

    &_item {
      // flex-basis: calc(20% - 140px);
      flex-basis: auto;
      margin: 70px;
      font-size: 34px;
      color: $color__branding-blue;
      opacity: 0.3;
      font-weight: 600;
      line-height: 1;
      position: relative;
      z-index: 3;
    }
  }
}

@keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}

@keyframes marquee {
  0% { transform: translate3d(-50%,0,0); }
  100% { transform: translate3d(0%,0,0); }
}
