@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.marqueeList {
	margin: 0;
  position: relative;
  padding: 280px 0;

  @include breakpoint(lt-tablet) {
    padding: 185px 0;
  }

  &__inner {
    margin: 80px 0;
    text-align: center;
  	position: relative;
  }

  &__tag {
    background-color: $color__branding-purple;
    color: $color__branding-white;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &__content {
    margin: 30px 0 0;
  }

  &__slideshow {
    position: absolute;
    left: 0;
    z-index: 1;
    overflow: hidden;
    animation: marquee 40s linear infinite;

    &1 {
      top: 0;
      animation-duration: 50s;

      @include breakpoint(lt-tablet) {
        top: 5%;
      }
    }

    &2 {
      top: 20%;
      animation-duration: 40s;
      animation-direction: reverse;

      @include breakpoint(lt-tablet) {
        top: 15%;
      }
    }

    &3 {
      bottom: 20%;
      animation-duration: 40s;

      @include breakpoint(lt-tablet) {
        bottom: 15%;
      }
    }

    &4 {
      bottom: 0%;
      animation-duration: 60s;
      animation-direction: reverse;

      @include breakpoint(lt-tablet) {
        bottom: 5%;
      }
    }
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    display: inline-flex;
    white-space: nowrap;

    &_item {
      flex-basis: auto;
      margin: 70px;
      font-size: 34px;
      color: $color__branding-blue;
      opacity: 0.3;
      font-weight: 600;
      line-height: 1;
      position: relative;
      z-index: 3;

      @include breakpoint(lt-tablet) {
        font-size: 25px;
        margin: 30px;
      }
    }
  }

  &.not-sandwiched {
    padding: 0 0 535px 0;

    @include breakpoint(lt-tablet) {
      padding: 0 0 275px 0;
    }

    .marqueeList__slideshow {

      &1 {
        top: -10%;
      }

      &2 {
        top: 15%;
      }

      &5 {
        top: 40%;
      }
    }

    .marqueeList__items {

      &_item {
        color: $color__text-darkmode-opaque;
        opacity: 1;
      }
    }
  }
}
@keyframes marquee {
  0% { transform: translate3d(-50%,0,0); }
  100% { transform: translate3d(0%,0,0); }
}
