@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.heroFull {
  position: relative;

  &__background {
    background: #0F0C44;
    height: 57vw;
    min-height: 900px;
    max-height: calc(100vh + 100px);
    position: relative;
    overflow: hidden;

    &-front {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-bottom: 22.2%;
      z-index: 10;
      background-image: url('/ui/hero-full-mask.svg');
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
    }

    &-animation {
      height: 64.58vw;
      width: calc(100% + 4px);
      margin-left: -2px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    canvas {
      display: block;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 12%;
    display: flex;
    align-items: center;
    color: white;

    &--centered {
      text-align: center;
      display: block;
      padding-top: 6vw;
      padding-bottom: 0;
    }
  }

  &__tag {
    margin-bottom: 20px;
  }

  &__cols {
    display: flex;

    .heroFull__content--centered & {
      justify-content: center;
      max-width: 512px;
      margin: 0 auto;
    }
  }

  &__title {
    color: inherit;
    flex-basis: 50%;
    margin: 0 60px 0 0;
    flex-grow: 0;
    flex-shrink: 0;

    .heroFull__content--centered & {
      margin: 0;
      flex-basis: 100%;
    }
  }

  &__description {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.125rem;
    color: $color__text-light;
  }
}
