@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.cardGrid {
	margin: 160px 0;
	text-align: center;
	position: relative;
	z-index: 1;

  @include breakpoint(lt-tablet) {
    margin: 80px 0 35px 0;
  }

	&__tag {
		margin-bottom: 16px;
	}

	&__heading {
		margin: 0 0 20px;
	}

	&__content {
		font-size: 1.125rem;
	}

	&__cards {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		margin: 60px -15px 0;

    @include breakpoint(lt-tablet) {
      flex-wrap: wrap;
      margin: 40px -15px 0;
    }
	}

	&__card {
		flex-basis: calc(33.33% - 30px);
		align-self: stretch;
		margin: 0 15px;
		background-color: $color__branding-white;
		border-radius: 20px;
    border: 2px solid $color__branding-pink-light;
		padding: 40px;
		text-decoration: none;
    text-align: left;
		display: flex;
		flex-direction: column;
    transition: .2s ease;
    position: relative;

    @include breakpoint(lt-tablet) {
      flex-basis: 100%;
      margin: 15px;
    }

    &:nth-of-type(3n+2) {
      //top: 60px;
    }

    &:hover {
      border-color: $color__border-light;
      transform: scale(1.05);

      .cardGrid__card-link {
        //color: $color__branding-purple;
      }
    }

    &-image {
      display: block;
      width: max-content;
    }

		&-title {
			font-size: 24px;
			color: $color__text-dark;
			font-weight: 600;
			margin: 40px 0 10px 0;
		}

		&-content {
			color: $color__text-medium;
			margin-bottom: 20px;
			font-size: 15px;
		}

    &-actions {
      margin-top: auto;
    }

		&-link {
			position: relative;
			font-weight: 600;
			font-size: 16px;
      color: $color__branding-blue;
      transition: .2s ease;

			&:after {
				position: absolute;
				content: '';
				left: 0;
				bottom: 0;
				height: 2px;
				width: 100%;
        background: $color__branding-blue;
        opacity: 0;
        transition: .2s ease;
			}
		}
	}
}
