@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.teamGrid {
	margin: 120px 0;

	&__tag {
		margin-bottom: 16px;
	}

	&__heading {
		width: 367px;
		margin: 0;
	}

	&__members {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: 64px -20px -20px -20px;
	}

	&__member {
		flex-basis: calc(33.33% - 40px);
		margin: 20px;
		background-color: $color__branding-light-red;
		align-self: stretch;
		border-radius: 10px;
		min-height: 335px;

		&_link {
			text-decoration: none;
		}

		&_image {
			border-radius: 10px 10px 0 0;
		}

		&_text {
			padding: 10px 20px 20px 20px;
			position: relative;
		}

		&_name {
			color: $color__branding-navy;
			font-weight: 600;
			font-size: 18px;
		}

		&_title {
			color: $color__branding-red;
			font-weight: 600;
			font-size: 13px;
			line-height: 1.125;
		}
	}

	&__icon {
		position: absolute;
		right: 0;
		top: 20px;
		color: $color__branding-white;
		background-color: $color__branding-red;
		padding: 4px 10px;
		border-radius: 50% 0 0 50%;
	}
}
