@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.teamGrid {

  &__grid {
    margin: 60px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px 80px;

    &Item {
      display: flex;
      flex-direction: column;
      text-decoration: none;

      &-image {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
      }

      &-text {
        text-align: center;
        margin-top: auto;
      }

      &-heading {
        margin: 0;
      }

      &-title {
        display: block;
        margin: 10px 0 0;
        color: $color__text-medium;
        font-weight: 600;
        @include font-size(12);
        line-height: 1;
      }
    }
  }
}
