@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.list {
	margin: 120px 0;
	text-align: center;
	
	&__tag {
		margin-bottom: 16px;
	}
	
	&__heading {
		margin: 0 0 20px;
	}
	
	&__content {
		font-size: 1.125rem;
	}
	
	&__items {
		margin: 40px 0 0;
		padding: 0;
		list-style: none;
		columns: 3;
		text-align: left;
		
		&_item {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			break-inside: avoid-column;
			
			&_icon {
				flex-grow: 0;
				flex-shrink: 0;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				background: $color__branding-purple;
				color: white;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: 12px;
			}
			
			&_text {
				flex-grow: 1;
				line-height: 1.2;
			}
		}
	}
}