@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.callout {
	text-align: center;
  position: relative;

  @include breakpoint(lt-tablet) {
    display: flex;
    flex-direction: column;
  }


  &.component--squiggleTop {
    padding-top: 80px;
  }

  .container {

    @include darkmode() {
      position: relative;
      z-index: 2;
    }
  }

  &--leftWithGraphic {
    text-align: left;

    @include breakpoint(lt-tablet) {
      text-align: center;
    }

    .callout__wrap {
      width: 50%;
      max-width: 465px;
      padding: 100px 0;
      margin: 0;

      @include breakpoint(lt-tablet) {
        padding: 80px 0 0;
        width: 100%;
        max-width: none;
        padding: 0;
      }
    }
  }

	&__tag {

	}

	&__heading {

	}

	&__content {

	}

	&__buttons {
		margin-top: 40px;
	}

  &__animation {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 48.96%;

    @include breakpoint(lt-tablet) {
      width: 100%;
      padding-left: 30px;
      max-width: 600px;
      transform: none;
      position: relative;
      top: auto;
      margin-left: auto;
      order: -1;
      margin-bottom: 80px;
    }

    @include breakpoint(mobile) {
      padding-left: 20px;
    }
  }
}
