@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.hero {
	position: relative;
	
	&:before {
		content: '';
		background-image: url('/ui/blob-top-right.png');
		background-size: contain;
		background-position: top right;
		background-repeat: no-repeat;
		width: 25%;
		padding-bottom: 130.83%;
		max-height: 600px;
		position: absolute;
		top: 0;
		right: 0;
	}
	
	&__content {
		padding-top: 30px;
		position: relative;
		z-index: 10;
	}
	
	&__tag {
		margin-bottom: 20px;
	}
	
	&__title {
		max-width: 600px;
		margin: 0;
	}
	
	&__description {
		margin: 32px 0 0;
		@include font-size(18);
	}
}