@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.hero {
	position: relative;
  margin-bottom: 160px;

  @include breakpoint(lt-tablet) {
    margin-bottom: 80px;
  }

  &__background {
    background-color: $color__background-light-blue;
    margin-bottom: 0;
    padding-bottom: 160px;

    .hero__tag {
      background-color: $color__branding-purple;
      color: $color__branding-white;
    }
  }

	&__blob {
		width: 25%;
		position: absolute;
		top: 0;
		right: 0;

    @include breakpoint(lt-tablet) {
      width: 165px;
    }

    @include darkmode() {
      display: none;
    }
	}

  &__space {
    display: none;
    top: 0;
    left: 0;
    width: 100%;

    @include darkmode() {
      display: block;
    }
  }

	&__content {
		padding-top: 30px;
		position: relative;
		z-index: 10;

    // @include breakpoint(lt-tablet) {
    //   text-align: center;
    // }

    @include darkmode() {
      padding-top: 6vw;
    }
	}

	&__tag {
		margin-bottom: 20px;
	}

	&__title {
		max-width: 800px;
		margin: 0;

    @include breakpoint(lt-tablet) {
      max-width: none;
    }

    &--centered {
      display: block;
      margin: auto;
      max-width: 600px;
    }
	}

	&__description {
		margin: 32px 0 0;
		@include font-size(18);
	}

	&__centered {
		text-align: center;
	}
}
