@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.cardSlider {
	position: relative;
	z-index: 1;

  &__spacer {
    margin-top: 25vw;
  }

  &__withGraphic {
    padding-top: 100px;
    position: relative;
  }

  &__graphic {
    margin: auto;
    top: -35vw;
    left: 50%;
    transform: translateX(-50%);
  }

	&__tag {
		margin-bottom: 16px;
		background-color: $color__branding-purple;
		color: $color__branding-white;
	}

	&__heading {
		margin: 0 0 60px;
	}

	&__cards {
		margin: -20px;

		[class~=slick-current] {
			z-index: 10;
		}

		[class~=slick-arrow] {
			position: absolute;
			top: -63px;
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			background-color: transparent;
			border: 2px solid $color__text-darkmode;
			padding: 0;
			cursor: pointer;
			color: $color__text-darkmode;
			transition: border, color, background-color 0.3s ease;

			&:focus {
				outline: none;
			}

			&:hover {
				border: 2px solid $color__branding-purple;
				background-color: $color__branding-purple;
				color: $color__branding-white;
			}
		}

		[class~=slick-next] {
			right: 15px;
		}

		[class~=slick-prev] {
			right: 80px;
		}

		[class~=slick-arrow-icon] {
			font-size: 20px;
		}

		[class~=slick-slide] {
			animation: fadeZoomOut .25s ease;
			animation-fill-mode: forwards;
			height: 100%;
		}

		[class~=slick-current] {
			animation: fadeZoomIn .4s ease;
			animation-fill-mode: forwards;
		}
	}

	&__card {
		padding: 35.5px 40px;
		border-radius: 20px;
		margin: 20px;
		background-color: transparent;
		height: 100%;
		min-height: 307px;
		border: 2px solid $color__border-light-purple;

		&_subheading {
			font-size: 24px;
			font-weight: 700;
			line-height: 1.54;
		}

		&_heading {
			font-size: 24px;
			font-weight: 600;
			color: $color__text-dark;
			line-height: 1.25;
			margin-bottom: 10px;
		}

		&_content {
			font-size: 15px;
		}
	}
}
