@import '/src/styles/global/variables';
@import '/src/styles/global/mixins';

.cardSlider {
	position: relative;
	z-index: 1;

  &__spacer {
    margin-top: 25vw;
  }

  &__withGraphic {
    padding-top: 100px;
    position: relative;
  }

  &.component--with-background {

    @include breakpoint(lt-tablet) {
      padding-bottom: 160px;
    }
  }

  &__graphic {
    margin: auto;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint(lt-tablet) {
      width: calc(100% - 40px);
      top: -15%;
    }
  }

  &__container {
    padding-top: 200px;

    @include breakpoint(lt-tablet) {
      padding-top: 160px;
    }
  }

	&__tag {
		margin-bottom: 16px;
		background-color: $color__branding-purple;
		color: $color__branding-white;
	}

	&__heading {
		margin: 0 0 60px;
    width: calc(100% - 95px);

    @include breakpoint(lt-tablet) {
      margin: 0 0 40px;
    }
	}

	&__cards {
		margin: -20px;

    .slick-list {
      overflow: hidden;
    }

		.slick-arrow {
			top: -63px;

      @include breakpoint(lt-tablet) {
        top: calc(100% + 40px);
      }
		}

		.slick-next {
			right: 15px;
      left: auto;

      @include breakpoint(lt-tablet) {
        right: calc(50% - 47.5px);
      }
		}

		.slick-prev {
			right: 70px;
      left: auto;

      @include breakpoint(lt-tablet) {
        right: calc(50% + 7.5px);
      }
		}

    .slick-slide {
      animation: none;
    }

    .slick-current {
      animation: none;
    }
	}

	&__card {
		padding: 35.5px 40px;
		border-radius: 20px;
		margin: 20px;
		background-color: transparent;
		height: 100%;
		min-height: 307px;
		border: 2px solid $color__border-light-purple;

    @include breakpoint(lt-tablet) {
      min-height: 0;
    }

		&_subheading {
			font-size: 24px;
			font-weight: 700;
			line-height: 1.54;
		}

		&_heading {
			font-size: 24px;
			font-weight: 600;
			color: $color__text-dark;
			line-height: 1.25;
			margin-bottom: 10px;
		}

		&_content {
			font-size: 15px;
		}
	}
}
